/* .underline {
    text-decoration: underline;
}

.title {
    font-family: 'Prompt', sans-serif;
}
*/
body {
    margin: 0px;
    padding: 0px;
} 

.hero {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-flow: row nowrap;
    font-size: 2em;
    color: white;
    font-family: sans-serif;
    position: relative;
  }
  
  .hero div{
    display: flex;
    position: relative;
    background-color: tomato;
    width: 50%;
    padding: 50px;
  }
  .hero div:first-child{
    margin-right: 110px;
  }
  
  .hero_1:after, .hero_2:before{
    content:'';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
  }
  
  .hero_1:after {
      left: 100%;
      border-top: 100vh solid tomato;
      border-right: 100px solid transparent;
  }
  .hero_2:before {
      right: 100%;
      border-bottom: 776px solid tomato;
      border-left: 100px solid transparent;
  }

/* Small Screens
@media only screen and (max-width: 475px){
    img {
        margin: 70px 0 0 0;
    }
} */