body {
    background-color: cyan;
}

nav {
    background-color: cyan;
    padding: 30px;
}

header {
    width: 70vw;
    color: white;
    padding: 30px;
}

main {
    background-color: white;
    padding: 30px;
}
td {
    margin: 50px;
}
tr:hover {
    background-color: green;
} 

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: thin solid; 
}

.row:hover {
    background-color: white;
}

a {
    text-decoration: none;
    color: black
}